modules = ["python-base-3.13"]

[nix]
channel = "stable-24_05"

[workflows]

[[workflows.workflow]]
name = "Run"
mode = "sequential"
author = 41821899

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py runserver"

[[ports]]
localPort = 8000
externalPort = 80
exposeLocalhost = true
